<!-- wp:template-part {"slug":"header","className":"has-display-contents"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true},"style":{"spacing":{"padding":{"left":"var:preset|spacing|60","right":"var:preset|spacing|60"}}}} -->
<main class="wp-block-group alignfull" style="padding-left:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--60)">

	<!-- wp:group {"tagName":"article","align":"full","layout":{"inherit":true}} -->
	<article class="wp-block-group alignfull">
		<!-- wp:post-content {"layout":{"inherit":true,"justifyContent":"left"},"align":"full","style":{"spacing":{"blockGap":"0px"}}} /-->
	</article>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
