<!-- wp:template-part {"slug":"header","className":"has-display-contents"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">

<!-- wp:group {"tagName":"article","layout":{"inherit":true}} -->
<article class="wp-block-group">
	<!-- wp:group {"tagName":"header","layout":{"inherit":true},"align":"full"} -->
	<header class="wp-block-group alignfull"><!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"top":"var:preset|spacing|80"}}}} /-->

	<!-- wp:separator {"align":"full","style":{"spacing":{"margin":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"className":"has-text-color has-light-grey-color-1 is-style-wide"} -->
	<hr class="wp-block-separator alignfull has-alpha-channel-opacity has-text-color has-light-grey-color-1 is-style-wide" style="margin-top:var(--wp--preset--spacing--80);margin-bottom:var(--wp--preset--spacing--80)"/>
	<!-- /wp:separator --></header>
	<!-- /wp:group -->

	<!-- wp:post-content {"layout":{"inherit":true},"align":"full"} /-->
</article>
<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
