/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */

// Underline links inside query blocks to match post content behavior.
.wp-block-post a {
	text-decoration-line: underline;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

p.has-background {
	padding: var(--wp--preset--spacing--20);
}

// Scale down very large headings so they fit on mid-sized screens.
.wp-block-heading.has-heading-cta-font-size {
	// Scales from 54px at 400 wide to 120px at 900 wide.
	font-size: clamp(54px, 13.6vw - 0.15rem, 120px) !important;
}

@media (max-width: 400px) {
	.wp-block-heading.has-heading-cta-font-size {
		font-size: 36px !important;
	}
}

.wp-block-search.is-style-secondary-search-control {
	// Update border color in secondary search style, this site uses a light grey.
	--local--border-color: var(--wp--preset--color--light-grey-1);
}

.wp-block-term-description p {
	margin: 0;
}

@media (max-width: 781px) {
	.wp-block-column[style*="border-right-"] {
		border-right: none !important;
		border-bottom: 1px solid var(--wp--preset--color--light-grey-1);

		&[style*="padding-right"] {
			padding-right: var(--wp--preset--spacing--edge-space) !important;
			padding-left: var(--wp--preset--spacing--edge-space) !important;
			margin-right: calc(-1 * var(--wp--preset--spacing--edge-space)) !important;
			margin-left: calc(-1 * var(--wp--preset--spacing--edge-space)) !important;
		}

		+ .wp-block-column[style*="padding-left"] {
			padding-left: 0 !important;
		}
	}
}

.single-helphub_article main {
	position: relative;
}
