/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */

body[class] {
	// Locally override this value to create a fixed breakpoint, rather than the
	// scaling effect from `clamp(…)`.
	// @todo Maybe move this to the parent theme, if this behavior is preferred.
	--wp--preset--spacing--60: 20px;
	// Height of the local header (breadcrumbs & subnav).
	--wp-local-header-offset: 57px;
}

@media (min-width: 890px) {

	// When larger than 890px, this should snap to 80px.
	body[class] {
		--wp--preset--spacing--60: 80px;
	}
}

p.has-background {
	padding: var(--wp--preset--spacing--20);
}

.sidebar-container .is-link-to-top {
	display: none;
}

// Slot the search & table of contents into a floating sidebar on large screens.
@media (min-width: 1280px) {
	.sidebar-container {
		position: absolute;
		top: calc(var(--wp-global-header-offset, 0px) + var(--wp-local-header-offset, 0px));
		// Total = left edge spacing, content width, space between content & sidebar.
		// stylelint-disable-next-line max-line-length
		left: calc(var(--wp--preset--spacing--80) + var(--wp--style--global--content-size) + var(--wp--preset--spacing--60));
		// Total = right edge spacing.
		right: var(--wp--preset--spacing--60);
		margin-top: var(--wp--preset--spacing--40) !important;
		max-width: calc(var(--wp--style--global--wide-size) - var(--wp--style--global--content-size));

		&.is-fixed-sidebar {
			position: fixed;

			.is-link-to-top {
				display: block;
			}
		}
	}
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	--wp--custom--button--hover--color--text: var(--wp--preset--color--charcoal-1);
	--wp--custom--button--hover--color--background: var(--wp--preset--color--light-grey-2);
	padding: 0;
	border: none;
	border-radius: var(--wp--custom--button--border--radius);
	background: var(--wp--preset--color--white);
	color: var(--wp--preset--color--charcoal-1);

	.wp-block-search__input {
		border: none;
	}

	.wp-block-search__button {
		padding-top: calc(var(--wp--preset--spacing--20) * 0.5);
		padding-right: calc(var(--wp--preset--spacing--20) * 0.75);
		padding-bottom: calc(var(--wp--preset--spacing--20) * 0.5);
		padding-left: calc(var(--wp--preset--spacing--20) * 0.75);

		background: transparent;

		svg {
			fill: inherit;
		}
	}
}

// Update border color in secondary search style, this site uses a light grey.
.wp-block-search.is-style-secondary-search-control {
	--local--border-color: var(--wp--preset--color--light-grey-1);
}

.wp-block-term-description p {
	margin: 0;
}

.wp-block-wporg-site-breadcrumbs {
	min-height: 23px;

	+ .wp-block-navigation {
		--navigation-layout-wrap: nowrap;
	}
}

@media (max-width: 781px) {
	.wp-block-wporg-site-breadcrumbs span:not(:first-child,:last-child) {
		display: none;
	}
}

@media (max-width: 599px) {
	.wporg-site-breadcrumbs-container {
		width: calc(100% - 44px);
	}

	.wp-block-wporg-site-breadcrumbs span:not(:first-child) {
		display: none;
	}
}

@media (max-width: 781px) {
	.wp-block-column[style*="border-right-"] {
		border-right: none !important;
		border-bottom: 1px solid var(--wp--preset--color--light-grey-1);
	}
}
